<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/welcome.css">
        <title>Smart Medbox</title>
    </head>
    
    <body>
        <header>
            <div class="container-fluid">
                <div class="logo glossy col-3">Smart MedBox</div>
                <div class="links glossy col">
                    <a href="#abstract"><li>Abstract</li></a>
                    <a href="#introduction"><li>Introduction</li></a>
                    <a href="#goals"><li>Goals</li></a>
                    <a href="#team"><li>Team</li></a>
                </div>
                <div class="signupin glossy col-2"><a href="/login" id="login">Login</a><a href="/register" id="register">Register</a></div>
            </div>
        </header>

        <main>
            <div class="text-center">
                <img class="bg-med-tech" src="/images/med-tech-bg.jpg" alt="MedBox">
            </div>
            <br><br>
            <div class="container text-center" id="abstract">
                <h1>Abstract</h1>
            
                <p>Smart medication management and real-time health monitoring device a revolutionary healthcare companion that seamlessly integrates medication management with real-time health monitoring. Powered by advanced sensors and machine learning, this innovative device ensures you never miss a dose while predicting potential health threats. Accessible through a user-friendly website, it empowers patients to take control of their well-being and facilitates remote monitoring by healthcare providers, ushering in a new era of personalized healthcare management.
                </p>
            </div>
            <br>
            <div class="container text-center" id="introduction">
                <h1>Introduction</h1>

                <p>Smart MedBox is cutting-edge technology designed to provide you with peace of mind and improve your well-being. Here's what makes it extraordinary.
                    Our smart box utilizes Machine Learning to predict potential health threats based on your vital signs, including temperature and pulse oxygen levels. It empowers you to take proactive measures to safeguard your health.
                    No more missed doses! The built-in buzzer and LED indicators ensure you never forget to take your medications on time. The schedule feature customizes dosing times to match your unique needs.
                    The website, accessible to you, provides a real-time dashboard of your temperature and pulse rates throughout the day. Witness your health trends and make informed decisions.
                    Your health data is not just yours alone. Share it effortlessly with your doctor provider through the website. Stay connected and let your doctor monitor your progress remotely.
                    Knowledge is power. The website equips you with insightful charts and reports, allowing you to take charge of your health journey.
                    </p>
            </div>
            <br>
            <div class="container text-center" id="goals">
                <h1>Goals</h1>
                <p>
                    To significantly improve medication adherence rates among patients, especially those with chronic conditions who require strict medication regimens.
                    To empower individuals to monitor their health in real-time and identify potential health threats before they escalate.
                    To put patients in control of their health by providing them with actionable insights and data-driven decision-making tools.
                    To contribute to more efficient and cost-effective healthcare delivery by reducing hospitalizations and emergency visits through proactive monitoring and intervention.
                    </p>
            </div>
            <br>
            <div class="container text-center" id="team">
                <h1>Team</h1>
                <br>
                <div class="row">
                    <div class="col-4 profile">
                        <div class="row">
                            <img class="avatar" src="/images/nirmal.jpeg" alt="Nirmal">
                        </div>
                        <div class="row name">Nirmal Kurian Thomas</div>
                    </div>
                    <div class="col-4 profile">
                        <div class="row">
                            <img class="avatar" src="/images/no-avatar.webp" alt="Avatar">
                        </div>
                        <div class="row name">Ashwath Krishna</div>
                    </div>
                    <div class="col-4 profile">
                        <div class="row">
                            <img class="avatar" src="/images/no-avatar.webp" alt="Avatar">
                        </div>
                        <div class="row name">Pranav Kumar</div>
                    </div>
                </div>
            </div>
        </main>
        <br>
        <footer>
            <div class="container-fluid">
                <div class="iot-dp glossy">&copy; IoT Design Project</div>
            </div>
        </footer>


        <script src="/javascripts/welcome.js"></script>
    </body>
</html>